<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    {% if is_addr == 0 %}
        <title>器材预约</title>
    {% else %}
        <title>场地预约</title>
    {% endif %}
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: rgb(242, 242, 242);
    }

    .header {
        background-color: white;
    }

    .headerspan {
        margin-left: 270px;
        position: absolute;
        top: 10px;
        font-size: 30px;
    }

    .false {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 100px;
        top: 20px;
        cursor: pointer;
    }

    .contanier {
        margin-top: 50px;
        width: 100%;
        height: 400px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(175, 175, 175, 0.582);

    }

    table {
        margin-left: 150px;
    }

    thead {
        color: #909399;
    }

    th {
        border-bottom: 1px solid #f0f0f0;
        padding: 18px 10px;
        width: 200px;
    }

</style>
<body>
<div class="container-fluid">
    <div class="row header">
        <div class="col-lg-3"><img src="../static/img/toppic.png" width="300px"></div>
        {% if is_addr == 0 %}
            <span class="headerspan">器材预约</span>
        {% else %}
            <span class="headerspan">场地预约</span>
        {% endif %}
        <img src="../static/img/nav_close.png" alt="" class="false"
             onclick="window.location.href='/user/{{ username }}'">
    </div>

    <div class="contanier">
        <div>
            <table border="0" cellspacing="0">
                <thead>
                <tr>
                    <th colspan="1" rowspan="1">序号</th>
                    <th colspan="1" rowspan="1">名称</th>
                    {% if is_addr == 0 %}
                        <th colspan="1" rowspan="1">剩余数量</th>
                        <th colspan="1" rowspan="1">借用数量</th>
                    {% else %}
                        <th colspan="1" rowspan="1">位置</th>
                        <th colspan="1" rowspan="1">借用时间</th>
                    {% endif %}
                    <th colspan="1" rowspan="1">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    {% if is_addr == 0 %}
                        <tr class="odd gradeX">
                            <td class="center">{{ result["equip"].eqpid }}</td>
                            <td class="center">{{ result["equip"].eqp_name }}</td>
                            <td class="center">{{ result["equip"].num }}</td>
                            <td class="center">
                                <input type="number" id="{{ result["equip"].eqpid }}broNum" min="1"
                                       max="{{ result["equip"].num }}">
                            </td>
                            <td class="center">
                                <a class='fa fa-lg fa-warning text-red' data-toggle="modal"
                                   data-href="/broEquip"
                                   data-target="#{{ result["index"] }}-borrow">借用</a>
                                <!--
                                           借阅确认--模态框
                                        -->
                                <div class="modal fade" id="{{ result["index"] }}-borrow" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="myModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                请确认
                                            </div>
                                            <div class="modal-body">
                                                确认借用{{ result["equip"].eqp_name }}吗？
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    取消
                                                </button>
                                                <a class="btn btn-danger btn-ok"
                                                   id="{{ result["equip"].eqpid }}Equipment">确认</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <script>
                            document.getElementById("{{ result["equip"].eqpid }}Equipment").addEventListener("click", function () {
                                let eqpid = '{{ result["equip"].eqpid }}'
                                let broNum = document.getElementById("{{ result["equip"].eqpid }}broNum").value
                                let num = Number(broNum)
                                if (broNum == '' || num < 0 || num >{{ result["equip"].num }}) {
                                    alert("请输入正确的数量！！");
                                    window.location.href = '/equipmentShow'
                                    return;
                                }
                                //ajax发送校验
                                $.ajax({
                                    url: "/broEquip",
                                    type: "POST",
                                    dataType: 'json',
                                    data: {
                                        "eqpid": eqpid,
                                        "broNum": broNum
                                    },
                                    success: function (data) {
                                        if (data.result == "fail") {
                                            alert("{{ result["equip"].eqp_name }}剩余数量不足！！");
                                        } else {
                                            alert("借用成功，请等待管理员审核！！");
                                        }
                                        window.location.href = '/equipmentShow'
                                    }
                                })
                            })
                        </script>
                    {% else %}
                        <tr class="odd gradeX">
                            <td class="center">{{ result["addr"].addrid }}</td>
                            <td class="center">{{ result["addr"].addr_name }}</td>
                            <td class="center">{{ result["addr"].address }}</td>
                            <td class="center"><input type="date" id="{{ result["addr"].addrid }}broDate"></td>
                            <td class="center">
                                <a class='fa fa-lg fa-warning text-red' data-toggle="modal"
                                   data-target="#{{ result["index"] }}-borrow">借用</a>
                                <!--
                                           借阅确认--模态框
                                        -->
                                <div class="modal fade" id="{{ result["index"] }}-borrow" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="myModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                请确认
                                            </div>
                                            <div class="modal-body">
                                                确认借用{{ result["addr"].addr_name }}({{ result["addr"].address }})吗？
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    取消
                                                </button>
                                                <a class="btn btn-danger btn-ok"
                                                   type="submit" id="{{ result["addr"].addrid }}broAddress">确认</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <script>
                            document.getElementById("{{ result["addr"].addrid }}broAddress").addEventListener("click", function () {
                                let addrid = '{{ result["addr"].addrid }}'
                                let broDate = document.getElementById("{{ result["addr"].addrid }}broDate").value
                                let bTmp = broDate.split("-");
                                //得到当前时间
                                let date_now = new Date();
                                let bd = new Date(bTmp[0], bTmp[1], bTmp[2]);
                                if (date_now.getDate() > bd.getDate()) {
                                    alert("预约时间不能早于当前时间！！");
                                    window.location.href = '/addressShow'
                                    return;
                                }
                                //ajax发送校验
                                $.ajax({
                                    url: "/broAddress",
                                    type: "POST",
                                    dataType: 'json',
                                    data: {
                                        "addrid": addrid,
                                        "broDate": broDate
                                    },
                                    success: function (data) {
                                        if (data.result == "fail") {
                                            alert("当天场地已被借用！！");
                                        } else {
                                            alert("借用成功，请等待管理员审核！！");
                                        }
                                        window.location.href = '/addressShow'
                                    }
                                })
                            })
                        </script>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>