<div class="header">
    <div class="pull-right">
        {% if is_face == False %}
            <span class="badge" style="background-color: dodgerblue;width: 50px;height: 20px;line-height: 15px;">人脸注册<a
                    href="#" id="register_face"><span class="glyphicon glyphicon-camera"></span></a></span>
        {% endif %}
        {% if person.admname %}
            <a href="/admin/lookrecord">
            <span class="glyphicon glyphicon-comment one">消息</span><span class="badge">{{ messageNum }}</span>
            </a>
        {% else %}
            <a href="/user/lookrecord">
                <span class="glyphicon glyphicon-comment one">消息</span><span class="badge">{{ messageNum }}</span>
            </a>
        {% endif %}
        <span class="glyphicon glyphicon-edit two">任务   </span>
        <a href="/logout"> <span class="glyphicon glyphicon-log-out">退出登录</span></a>
    </div>
</div>

{# 人脸识别模态框 #}
<div class="modal fade" id="faceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">人脸识别</h4>
            </div>
            <div class="modal-body">
                <video id="video" width="1" height="1" controls> {#用于获取摄像头#}
                </video>
                <canvas id="canvas" width="500" height="380"></canvas>
                {#用于获取摄像头#}
                <p id="result_tag"></p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="../static/js/face-trgidter.js"></script>
