<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <title>处理审批</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: rgb(242, 242, 242);
    }

    .header {
        background-color: white;
    }

    .headerspan {
        margin-left: 270px;
        position: absolute;
        top: 10px;
        font-size: 30px;
    }

    .false {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 100px;
        top: 20px;
        cursor: pointer;
    }

    .contanier {
        margin-top: 50px;
        width: 100%;
        height: 400px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(175, 175, 175, 0.582);

    }

    table {
        margin-left: 150px;
    }

    thead {
        color: #909399;
    }

    th {
        border-bottom: 1px solid #f0f0f0;
        padding: 18px 10px;
        width: 200px;
    }
</style>
<body>
<div class="container-fluid">
    <div class="row header">
        <div class="col-lg-3"><img src="../static/img/toppic.png" width="300px"></div>
        <span class="headerspan">处理审批</span>
        <img src="../static/img/nav_close.png" alt="" class="false" onclick="window.location.href='/admin/{{ admin }}'">
    </div>


    <div class="contanier">
        <div>
            <table border="0" cellspacing="0">
                <thead>
                <tr>
                    <th colspan="1" rowspan="1">序号</th>
                    <th colspan="1" rowspan="1">类型</th>
                    <th colspan="1" rowspan="1">名称</th>
                    <th colspan="1" rowspan="1">数量</th>
                    <th colspan="1" rowspan="1">预约日期</th>
                    <th colspan="1" rowspan="1">预约人</th>
                    <th colspan="1" rowspan="1">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr class="odd gradeX">
                        <td class="center">{{ result["booking"].bid }}</td>
                        {% if result["details"].is_addr == 1 %}
                            <td class="center">场地</td>
                            <td class="center">{{ result["address"].addr_name }}({{ result["address"].address }})</td>
                        {% else %}
                            <td class="center">器材</td>
                            <td class="center">{{ result["equipment"].eqp_name }}</td>
                        {% endif %}
                        <td class="center">{{ result["details"].bro_num }}</td>
                        <td class="center">{{ result["booking"].bro_time }}</td>
                        {% if result["user"].is_out == 1 %}
                            <td class="center">{{ result["user"].username }}(外部人员)</td>
                        {% else %}
                            <td class="center">{{ result["user"].username }}(内部人员)</td>
                        {% endif %}
                        <td class="center">
                            <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-href='{{ url_for("admin.admin_decision", bid=result["booking"].bid,deci='disagree') }}'
                                    data-target="#{{ result["booking"].bid }}disagree">不同意
                            </button>
                            <!--
                                       不同意预约--模态框
                                    -->
                            <div class="modal fade" id="{{ result["booking"].bid }}disagree" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            驳回预约
                                        </div>
                                        <div class="modal-body">
                                            确认驳回 {{ result["user"].username }}的预约吗？
                                            <br>
                                            {% if result["details"].is_addr == 1 %}
                                                [{{ result["address"].addr_name }}({{ result["address"].address }})]
                                            {% else %}
                                                [{{ result["equipment"].eqp_name }}]
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                取消
                                            </button>
                                            <a class="btn btn-danger btn-ok">确认</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                $('#{{ result["booking"].bid }}disagree').on('show.bs.modal', function (e) {
                                    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                                });
                            </script>
                            <button type="button" class="btn btn-success " {{ result["disabled"] }} data-toggle="modal"
                                    data-href='{{ url_for("admin.admin_decision", bid=result["booking"].bid,deci='agree') }}'
                                    data-target="#{{ result["booking"].bid }}agree">
                                {% if result["disabled"]=="disabled='disabled'" %}
                                    {% if result["details"].is_addr == 1 %}
                                        当天场地已借用
                                    {% else %}
                                        该器材数量不足
                                    {% endif %}
                                {% else %}
                                    同意
                                {% endif %}
                            </button>
                        </td>
                        <!--
                                   同意预约--模态框
                                -->
                        <div class="modal fade" id="{{ result["booking"].bid }}agree" tabindex="-1"
                             role="dialog"
                             aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        同意预约
                                    </div>
                                    <div class="modal-body">
                                        确认同意 {{ result["user"].username }}的预约吗？
                                        <br>
                                        {% if result["details"].is_addr == 1 %}
                                            [{{ result["address"].addr_name }}({{ result["address"].address }})]
                                        {% else %}
                                            [{{ result["equipment"].eqp_name }}]
                                        {% endif %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            取消
                                        </button>
                                        <a class="btn btn-danger btn-ok">确认</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            $('#{{ result["booking"].bid }}agree').on('show.bs.modal', function (e) {
                                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                            });
                        </script>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>